h1{
    font-family: "cursive",sans-serif;
}
nav>ul>li>a:hover{
    color:blue;
    background:hotpink;
    
}
a:visited{
    background-color:red;
    color:rgb(47, 78, 255)
}
img{
    width:500px;
    height:400px
}
p{
    font-family:"helvetica";
}
/* .gigiri>img{
    float:left;
    margin-left:50px;
    display:flex;
    padding:60px;
   
}
.kasarani>img{
    display:flex;
    padding:60px;
   
    margin-top: 0;
}
.gigiri{
    text-align:justify;
    width:[width of image]
}
.kasarani{
    text-align: justify;
    width:[width of image]
} */
#houses{
    display:flex;
    justify-content: space-around;
}

.bottom{
    float:right;
}
.top{
    background-image:url(images/download8.jpeg);
    height:70vh;
    background-repeat: no-repeat;
    background-size: cover;
}
nav ul li{
    display:inline-block;
    padding:10px;
    float:right;
}
.zero{
    text-align: center;
}
#video{
    margin-left: 20%;
}
.bottom ul p{
    text-align: center;
}
footer{
    background-color: teal;
    
}
footer>ul>li{
    margin-left:40% ;
}
.addition{
    display:flex;
    justify-content: space-around;
    padding-bottom: 90px;
}
.top>p{
text-align: center;
padding-top: 60px;
}